/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b {
    font-weight: 600;
}

/* actual things */

html, body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
h1 {
    font-weight: 400;
    font-size: 65px;
    line-height: 100px;
    animation: fadeIn;
    animation-duration: 1s;
    text-align: center;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    margin-top: 15vh;
    cursor: pointer;
}

h1:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 5px rgba(124, 79, 79, 0.5));
}

#portrait {
    position: fixed;
    height: 200px;
    top: -210px;
    left: 70%; 
    transition: top linear 2s;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

h1:hover~#portrait {
    top: 0px;
}

h2 {
    font-weight: 400;
    font-size: 42px;
    color: #2b7e8d;
    animation: fadeIn;
    animation-duration: 2s;
    text-align: center;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

h2:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.dev-tag {
    font-size: 24px;
    font-weight: 700;
}

#collapse {
    max-height: 0px;
    transition: max-height 1s linear;
    overflow: hidden;
    line-height: 36px;
    text-align: center;
}

#collapse ul {
    padding: 2rem 0rem 1rem 0rem;
}

#collapse li {
    font-size: 18px;
}

#main-title {
    font-weight: 700;
    color: #2b7e8d;
}

h2:hover~#collapse {
    max-height: 500px;
    transition: max-height 1s linear;
}

#contact-icons {
    text-align: center;
    margin-bottom: 10px;
}

#contact-icons img {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin: 20px 10px;
    animation: fadeIn;
    animation-duration: 3s;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(124, 79, 79, 0.3));
}

#contact-icons img:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 5px rgba(124, 79, 79, 0.5));
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    cursor: pointer;
}

#other-links {
    animation: fadeIn;
    animation-duration: 4s;
    line-height: 30px;
    text-align: center;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

#other-links a:hover {
    text-decoration: underline;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

#about {
    text-align: left;
    padding: 1% 25%;
    max-width: 1200px;
    display: none;
    animation: fadeIn;
    animation-duration: 1s;
    font-size: 18px;
}

#portfolio {
    text-align: left;
    padding: 0 25%;
    max-width: 1200px;
    display: none;
    animation: fadeIn;
    animation-duration: 2s;
    font-size: 18px;
}

.project-description {
    font-size: 18px;
    margin: 50px 0px 100px 0px;
}

.project-title {
    font-weight: bold;
    color: #000;
}

.project-thumbnail {
    width: 120px;
    height: auto;
    margin-right: 30px;
    float: left;
}

.thumbnail-link:hover {
    text-decoration: none;
    -webkit-filter: none !important;
    filter: none !important;
    box-shadow: none !important;
}

#portfolio-disclaimer {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 50px;
}
